<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div style="text-align: center;padding: 50px;width: 300px;height: 200px;top: 30%;left: 30%;position: absolute;border: solid 1px black">
    <form action="a" class="form-group" method="get">
        <input class="input-sm" placeholder="关键词" name="keyword" type="text" required>
        <input class="input-sm" placeholder="数量" name="q" type="number" max="60" required>
        <button class="btn btn-success">提交</button>
    </form>
</div>
</body>
</html>
